<!DOCTYPE html>
<html>

    <head>
        <title>Credit Card Fraud detection</title>
    </head>

    <body>
        <h1>XGB classifier model</h1>
        <form class="text-center", action="/", method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="csvfile">
            <input class="button" type="submit" value="Detect Fraud">
        </form>

        {% if prediction %}
            <p class="text-center"> Fraud detection executed. Results saved locally, path = {{prediction}}</p>
        {% endif %}
    </body>

</html>